body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #1a1a2e;
    background-color: #fafcfa;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.signupDiv {
    max-width: 400px;
    width: 100%;
    margin: 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333333;
}

.signupDiv .icon {
    font-size: 48px;
    color: #157f3c;
    margin-bottom: 10px;
    animation: float 1.5s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }
}

.signupDiv h1 {
    margin: 0;
    font-size: 24px;
    color: #157f3c;
}

.signupDiv p,
label {
    color: #71717a;
    font-size: 14px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background: #f0f0f0;
    color: #333333;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.signupDiv button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #157f3c;
    color: white;
    transition: background-color 0.3s ease;
}

.signupDiv button:hover {
    background-color: #186233;
}

.signupDiv p {
    font-size: 14px;
    margin-top: 10px;
    color: #71717a;
}